$primary-color:           #882B2B;
$secondary-color:         #232B5A;
$text-color:              #282828;
$text-color-alt:          #fff;
$hr-color:                rgba(34, 34, 34, 0.1);
$nav-bar-height:            100px;
$nav-bar-height-mobile:     70px;
